.container{
    position: relative;
    left: 70px;
    top: 40px;
}

.book-cover{
    position: relative;
    top: 20px;
}

.bookinfo{
    position: absolute;
    font-size: 20px;
    left:300px;
    top: 50px;
}

.description{
    max-width: 900px;
}

.addToTopPicks {
    position: relative;
    top: 150px;
    left: 350px;
    z-index: 1000;
}

.review {
    position: relative;
    top: 150px;
    left: 380px;
    z-index: 1000;
}

.comments{
    position: relative;
}

.comment{
    max-width: 900px;
}

.username{
    position: relative;
    left: 120px;
    bottom: 120px;
}

.user_comment{
    position: relative;
    left: 120px;
    bottom: 120px;
}



.buttons button{
    margin: 10px; /* Add some space between the buttons */
    font-size: 14px;
    font-family: "Times New Roman", Times, serif;
    background-color: white; 
    color: black;
    padding: 10px 20px; /* Add padding to make the button larger */
    border: 1px solid black; /* Remove default border */
    border-radius: 5px; /* Add rounded corners */
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: transform 0.3s; /* Smooth transition effect */
}

.buttons button:hover{
    background-color: rgba(155,232,240,0.5);
    transform: scale(1.1); /* Enlarge the button on hover */
}