.container{
    position: relative;
}

h2{
    position: relative;
    left: 100px;
}

.username{
    position: relative;
    left: 400px;
    top: 150px;
}

.user_image{
    position: relative;
    left:100px;
}

.book_info{
    position: absolute;
    left: 120px;
}

.book_entry{
    position: relative;
    left: 100px;
}

.buttons{
    transform: translateY(-50%); 
}

.buttons button{
    margin: 10px; /* Add some space between the buttons */
    font-size: 14px;
    font-family: "Times New Roman", Times, serif;
    background-color: white; 
    color: black;
    padding: 10px 20px; /* Add padding to make the button larger */
    border: 1px solid black; /* Remove default border */
    border-radius: 5px; /* Add rounded corners */
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: transform 0.3s; /* Smooth transition effect */
}

.buttons button:hover{
    background-color: rgba(155,232,240,0.5);
    transform: scale(1.1); /* Enlarge the button on hover */
}

.homepage{
    position: absolute;
    top: 70px;
    left: 100px;
}

.book_page{
    position: absolute;
    top: 70px;
    left: 300px;
}