.container{
    position: relative;
}

h2{
    position: relative;
    left: 100px;
}

.username{
    position: relative;
    left: 400px;
    top: 150px;
}

.user_image{
    position: relative;
    left:100px;
}

.book_info{
    position: absolute;
    left: 120px;
}

.book_entry{
    position: relative;
    left: 100px;
}
