<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head lang="en">
        <meta charset="UTF-8" />       
        <title> 
            {% block title_block %}
               Bookepedia
            {% endblock %} 
        </title>
    </head>    
    <body>
        <div>
            {% block body_block %} 
            {% endblock %}
        </div>
        <hr />
        <div>
            <ul>
                {% if user.is_authenticated %}
                {% else %}
                {% endif %}
                    <a href="{% url 'bookepedia:add_a_book' %}">
                    <a href="{% url 'bookepedia:register' }">
                    <a href="{% url 'bookepedia:user_login'}">
             </ul>
        </div>
    </body> 
</html>


{% comment %}
    removed this from the base.html in rango 
    <div>
    {% block sidebar_block %}
        {% get_category_list category %}
    {% endblock %}
    </div> 
{% endcomment %}