{% extends 'bookepedia/base.html' %} 
{%load staticfiles%}
{% block title_block %} 
    Homepage
{% endblock %}

{%block body_block%}  
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/homepage_style.css' %}">
    </head>

    <div class="container">
        <img src="{% static 'images/logo.jpg' %}" class="logo"/>
        <div class="buttons">
            <a href="{% url 'bookepedia:all_books' %}"><button class="all_books">&#x1F4D6; Browse All Books</button></a>
            {% if logged_in %}
                <a href="{% url 'bookepedia:profile' request.user.username %}"><button class="my_profile">&#x1F464; My Profile</button></a>
                <a href="{% url 'bookepedia:user_logout' %}"><button class="logout">&#x1F6AA; Logout</button></a>
            {% else %}
                <a href="{% url 'bookepedia:register' %}"><button class="add_a_book">&#x1F464; Register</button></a>
                <a href = "{% url 'bookepedia:user_login' %}"><button class="add_a_book">&#x1F464; Log In</button></a>
            {% endif %}  
        </div>
    </div>

    <div class="container">   
        <div class="search-container">
            <form class="form-inline" id="user-form" method="post" action="{% url 'bookepedia:search' %}">
                {% csrf_token %}
                <div class="form-group">
                    <input class="form-control" type="text" size="50" name="query" id="query" />
                </div>
                <button class="btn btn-primary" type="submit" name="submit">Search</button>
            </form>
        </div>
    
    </div>

    <div>
        {% if result_list %}
            <h2>Results</h2>
            <div class="list-group">
                {% for result in result_list %}
                    <div class="list-group-item">
                        <h3 class="list-group-item-heading">
                            <a href="{{ result.link }}">
                                {{ result.title|safe|escape }}
                            </a> 
                        </h3>
                        <p class="list-group-item-text">
                            {{ result.summary|safe|escape }}
                        </p> 
                    </div>
                {% endfor %} 
            </div>
        {% endif %} 
    </div>


    <div class="container">
        <h2>Recommended Books</h2>
        <div class="recommended-books">
            {% for book in recommended_books %}
                <div class="book_info">
                    <h3><a href="{% url 'bookepedia:show_book' book_title_slug=book.slug %}">{{ book.title }}</a></h3>
                    <p>Author: {{ book.author }}</p>
                    <p>Description: {{ book.description }}</p>
                    <p>Genre: {{ book.genre }}</p>
                </div><br />
                    {% if book.cover %}
                        <img src="{{ book.cover.url }}" alt="{{ book.title }} Cover" width="260" height="400">
                    {% endif %}
            {% empty %}
                <p>No recommended books available.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}