{% extends 'bookepedia/base.html' %} 
{%load staticfiles%}
{% block title_block %} 
    Homepage
{% endblock %}

{% block body_block %}
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/homepage_style.css' %}">
    </head>
    <div class="container">
        <img src="{% static 'images/logo.jpg' %}" class="logo"/>
        <div class="buttons">
            {% if logged_in %}
                <a href="{% url 'bookepedia:add_a_book' %}"><button class="add_a_book">&#x1F4D6; Add a Book</button></a>
                <a href="{% url 'bookepedia:profile' request.user.username %}"><button class="my_profile">&#x1F464; My Profile</button></a>
            {% else %}
                <a href="{% url 'bookepedia:register' %}"><button class="add_a_book">&#x1F464; Register</button></a>
                <a href = "{% url 'bookepedia:user_login' %}"><button class="add_a_book">&#x1F464; Log In</button></a>
            {% endif %}  
        </div>
    </div>

    <div class="container">
        <h2>Recommended Books</h2>
        <div class="recommended-books">
            {% for book in recommended_books %}
                <div class="book">
                    <h3>{{ book.title }}</h3>
                    <p>Author: {{ book.author }}</p>
                    <p>Description: {{ book.description }}</p>
                    <p>Genre: {{ book.genre }}</p>
                    {% if book.cover %}
                        <img src="{{ book.cover.url }}" alt="{{ book.title }} Cover">
                    {% endif %}
                </div>
            {% empty %}
                <p>No recommended books available.</p>
            {% endfor %}
        </div>
    </div>

{% endblock %}