{% extends 'bookepedia/base.html' %} 
{%load staticfiles%}
{% block title_block %} 
    Homepage
{% endblock %}

{% block body_block %}
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/homepage_style.css' %}">
    </head>
    <div class="container">
        <img src="{% static 'images/logo.jpg' %}" class="logo"/>
        <div class="buttons">
            <a href="{% url 'bookepedia:add_a_book' %}">
                <button class="add_a_book">&#x1F4D6; Add a Book</button>
            </a>
            <button class="my_profile">&#x1F464; My Profile</button>
        </div>
    </div>
{% endblock %}


